@mixin button ($bg: dodgerblue){
    margin: 5px;
    font-size: 1.3rem; 
    padding: 10px;
    border: none;
    border-radius: 5px;   
    color: white;
    background-color: $bg;
}
.btn {
    @include button;
}
.saved-btn {
    @include button($bg: teal);
}
.save-btn {
    @include button($bg: navy);
}