.App {
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 90vh;
    background-color: cadetblue;
}

.form-ctn {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    background-color: white;

}
.clicked-topics-ctn {
    width: 50%;
    height: 90%;
    border: 1px solid dodgerblue;
}
.topic-btn {
    color: white;
    background-color: dodgerblue;
}
.btn {
    margin: 5px;
    font-size: 1.3rem; 
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.saved-btn {
    color: white;
    background-color: teal;
}
form {
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
}
select {
    width: 50%;
    margin: 20px;
    height: 30rem;
}
option {
    font-size: 1.2rem;
}
option:hover {
    background-color: lightblue;
}

.savedTopics {
    border: 1px solid red;
    width: 80%;
    background-color: white;
}