* {
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../max-langelott-wWQ760meyWI-unsplash.jpg);
  background-size: cover;
}

header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
}
header p {
  font-size: 2.2rem;
  margin: 10px;
  margin-left: 2%;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  color: #00294B;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
  list-style-type: none;
}
header ul li {
  font-weight: 700;
  cursor: pointer;
}
header ul li:hover {
  color: #5EBCD6;
}

main {
  background-color: white;
  max-width: 50%;
  margin: 7% 25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: fixed;
  height: 700px;
  box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 2.5rem;
  background-color: #5EBCD6;
  margin-top: 0;
  border-radius: 5px 5px 0px 0px;
}

h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-family: "PT Sans Narrow", sans-serif;
}

h3 {
  font-size: 1.3rem;
  margin: 10px;
}

.cat-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1%;
  width: 80%;
}
.cat-list .form-ctn {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cat-list .form-ctn .list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 1px solid lightgray;
  padding: 5px;
}

.savedTopics {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1%;
  width: 80%;
  margin-top: 10px;
}

.active {
  margin: 5px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #5EBCD6;
  border: 1px solid #5EBCD6;
}

.inactive {
  margin: 5px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #00294B;
  background-color: white;
  border: 1px solid #5EBCD6;
}

.inactive:hover {
  background-color: #e6e6e6;
}

.saved-btn {
  margin: 5px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #00294B;
  background-color: #e9e9e9;
  cursor: default;
}

.save-btn {
  margin: 5px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #00294B;
  font-size: 1.8rem;
  margin: 10px;
  transition: ease-in-out 0.1s;
}

.save-btn:hover {
  transform: scale(105%);
}

.save-btn:active {
  background-color: #08142b;
}

footer {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
footer p {
  margin-left: 1%;
  font-size: 0.9rem;
}
footer p a {
  text-decoration: none;
  color: #00294B;
  margin: 0 5px;
}
footer p a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
footer p a:active {
  color: #5EBCD6;
}

@media screen and (max-width: 320px) {
  body {
    background-image: none;
    background-color: white;
  }

  header {
    border-bottom: 1px solid #5EBCD6;
    z-index: 10;
    justify-content: space-evenly;
  }
  header p {
    font-size: 1.5rem;
  }
  header ul {
    width: unset;
    padding: 0px;
  }
  header ul li {
    margin: 0 10px;
    font-size: 0.9rem;
  }

  main {
    max-width: 100%;
    margin: 4rem 0 2rem 0;
    height: initial;
    border-radius: 0;
    position: relative;
    box-shadow: none;
  }
  main .cat-list {
    width: 98%;
  }
  main .list {
    width: 98%;
  }

  h1 {
    border-radius: 0;
  }

  footer {
    text-align: center;
  }
  footer a {
    display: block;
    margin: 10px 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  body {
    background-image: none;
    background-color: white;
  }

  header {
    border-bottom: 1px solid #5EBCD6;
    z-index: 10;
    justify-content: space-evenly;
  }
  header ul {
    width: unset;
  }
  header ul li {
    margin: 0 10px;
  }

  main {
    max-width: 100%;
    margin: 4rem 0 2rem 0;
    height: initial;
    border-radius: 0;
    position: relative;
    box-shadow: none;
  }

  h1 {
    border-radius: 0;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  body {
    background-image: none;
    background-color: white;
  }

  header {
    border-bottom: 1px solid #5EBCD6;
    z-index: 10;
    justify-content: space-evenly;
  }
  header ul {
    width: unset;
  }
  header ul li {
    margin: 0 10px;
  }

  main {
    max-width: 100%;
    margin: 4rem 0 2rem 0;
    height: 100%;
    border-radius: 0;
    position: relative;
    box-shadow: none;
  }

  h1 {
    border-radius: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-size: 300%;
  }

  header {
    z-index: 10;
  }

  main {
    max-width: 90%;
    margin: 8rem auto 2rem auto;
    height: 800px;
    border-radius: 0;
    position: relative;
  }

  h1 {
    border-radius: 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1919px) {
  body {
    background-size: 300%;
  }

  header {
    z-index: 10;
  }

  main {
    width: 80%;
    margin: 6rem auto 2rem auto;
    min-height: unset;
    border-radius: 0;
    position: relative;
  }

  h1 {
    border-radius: 0;
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }
}
@media screen and (max-height: 960px) {
  footer {
    position: relative;
    border-top: 1px solid #5EBCD6;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  footer {
    position: relative;
    border: none;
    height: 40px;
    padding: 10px;
  }
  footer p {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) and (min-height: 600px) and (max-height: 1024px) {
  footer {
    position: relative;
    border: none;
    height: 40px;
    padding: 10px;
  }
  footer p {
    margin: 0;
  }
}
@media screen and (min-height: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}

/*# sourceMappingURL=App.css.map */
